

.form{
    width: 400px;
    height: 600px;
    border-radius: 10px;
    border: 2px solid #91d36f;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background: white;
    z-index: 9999999999;
    box-shadow: 0px 0px 5000px rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form .close-btn{
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #91d36f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 300;
    font-size: 40px;
    padding: 0px;
    background: none;
    position: absolute;
    right: -20px;
    top: -20px;
    background: white;
}

.form h1{
    font-size: 3rem;
    color: #91d36f;
    font-weight: bold;
}

.form .input{
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form .input label{
    width: 100%;
    padding: 10px 5px;
    color: #91d36f;
}

.form .input input{
    width: 100%;
    padding: 10px;
    border: 2px solid #91d36f;
    border-radius: 10px;
    outline: none;
}

.form .action{
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
}


.form .action button{
    width: 100%;
    padding: 10px;
    border: 2px solid #91d36f;
    border-radius: 10px;
    outline: none;
}

.form .action .solid-btn{
    background: #91d36f;
    color: white;
}


.form .action .outline-btn{
    background: white;
    color: #91d36f;
}